In [3]:
#there are two types of loops for and while

#for loop is used for going over a list of items one by one

zero_to_three = [0,1,2, 3]
print(zero_to_three[0])
print(zero_to_three[1])
print(zero_to_three[2])
print(zero_to_three[3])

0
1
2
3

In [4]:
#loops have two components called arguments  1.variable (the name you are assigning to the loop ) 2. and the collection we are iterating over
for number in  zero_to_three:# after the loop put the full colon
    print (number) # number is the variable . and zero_to_three is the collection we are iterating over.
    # after the second argument we indent the block of code that comes after.

0
1
2
3

In [5]:
#This could work for a list with small elements,but for a list with many elements.It will become tedious
#so we use the for  loop for number in  :

for number in zero_to_three:
   print(number)

0
1
2
3

In [6]:
iteration_count =0
for whatever_we_want in zero_to_three:
     iteration_count= +1
     print('This is iteration:', iteration_count)
     print('whatever_we _want')
     print('The for loop is finished now! I am not in the for loop now that is why I only printed once')

This is iteration: 1
whatever_we _want
The for loop is finished now! I am not in the for loop now that is why I only printed once
This is iteration: 1
whatever_we _want
The for loop is finished now! I am not in the for loop now that is why I only printed once
This is iteration: 1
whatever_we _want
The for loop is finished now! I am not in the for loop now that is why I only printed once
This is iteration: 1
whatever_we _want
The for loop is finished now! I am not in the for loop now that is why I only printed once

In [7]:
# Using elements in list as indices
countries = ['Croatia', 'USA','Argentina','France','Brazil','Japan','Vietnam']
for i in [0,1,2,3,4,5,6]:
   print(i)
   print(countries[i])

0
Croatia
1
USA
2
Argentina
3
France
4
Brazil
5
Japan
6
Vietnam

In [8]:
#printing two lists
countries = ['Croatia', 'USA','Argentina','France','Brazil','Japan','Vietnam']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio Dejenerio', 'Tokyo','Hanoi']

for index in [0,1,3,4,5,6]:
    print(cities[index] + ',', countries[index])

Zagreb, Croatia
District of Columbia, USA
Paris, France
Rio Dejenerio, Brazil
Tokyo, Japan
Hanoi, Vietnam

In [9]:
#the above cannot work if the indices do not match up
#it says the list is out range
countries = ['Croatia', 'USA','Argentina','France','Brazil','Japan','Vietnam']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio Dejenerio', 'Tokyo','Hanoi']
for index in[0,1,2,3,4,5,6,7,8,9,10]:
    print(index)
    print(cities[index] + ',', countries[index])

0
Zagreb, Croatia
1
District of Columbia, USA
2
Buenos Aires, Argentina
3
Paris, France
4
Rio Dejenerio, Brazil
5
Tokyo, Japan
6
Hanoi, Vietnam
7

IndexError: list index out of range

In [32]:
#When unsure of the number of elements in alist we will use the len() funtion
len(countries)
len(cities)

8

In [33]:
#first create a range
#Range function shows the starting pointing of the list and the ending point of the list excluding the end
range(0, len(countries))

range(0, 8)

In [34]:
#Create a list then
list(range(0, len(countries)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
for index in list(range(0,len(countries))):
  print (index)
  print(cities[index]+ ',',  countries[index])

In [36]:
countries.pop()
cities.pop()
countries
cities

['Zagreb',
 'District of Columbia',
 'Buenos Aires',
 'Paris',
 'Rio de Janeiro',
 'Tokyo',
 'Hanoi',
 'Mexico City']

In [37]:
for index in list(range(0,len(countries))):
    print(index)
    print(cities[index] +',', countries[index] )

0
Zagreb, Croatia
1
District of Columbia, USA
2
Buenos Aires, Argentina
3
Paris, France
4
Rio de Janeiro, Brazil
5
Tokyo, Japan
6
Hanoi, Vietnam
7
Mexico City, Mexico

In [38]:
for numbers  in range (10 ):
    print(numbers)

0
1
2
3
4
5
6
7
8
9

In [40]:
for numbers in range(5,21,2):# 5: The starting value of the sequence (inclusive). The sequence will start at 5.
     print(numbers)#21The ending value of the sequence (exclusive). The sequence will go up to, but not include, 21.
                   #2: The step value. This specifies the increment between each number in the sequence. In this case, the numbers will increase by 2.

5
7
9
11
13
15
17
19

In [11]:
for numbers in range(10,5,-2):
    print(numbers)

10
8
6

In [12]:
fruits = ['bananas', 'apples','avocadoes','lemons' ]
for x in fruits :
  print(x)

bananas
apples
avocadoes
lemons

In [42]:
#exit the loop when x is bananas
for x in fruits:
    print(x)
    if x== 'avocadoes':
     break

bananas
fruits
oranges
quavas

In [44]:
countries = ['Croatia', 'USA','Argentina','France','Brazil','Japan','Vietnam']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio Dejenerio', 'Tokyo','Hanoi']
for index in (0,1,2,3,4,5,6,):
    print(index)
    print(cities[index] + ',', countries[index])

0
Zagreb, Croatia
1
District of Columbia, USA
2
Buenos Aires, Argentina
3
Paris, France
4
Rio Dejenerio, Brazil
5
Tokyo, Japan
6
Hanoi, Vietnam

In [43]:
zero_to_three = [0,1,2,3,4,5]
for num in zero_to_three:
        print(num)

0
1
2
3
4
5

In [45]:
iteration_count = 2
for whatevs in zero_to_three:
    iteration_count +=1
    print("This is iteration:", iteration_count)
    print(whatevs)
print('the four loop is finished now')

This is iteration: 3
0
This is iteration: 4
1
This is iteration: 5
2
This is iteration: 6
3
This is iteration: 7
4
This is iteration: 8
5
the four loop is finished now

In [47]:
countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']
for i in countries:
    print(i)
#This Loop: Use when you only need the values of the list and don't care about their positions.

Croatia
USA
Argentina
France
Brazil
Japan
Vietnam

In [50]:
for index in [0,1,2,3,4,5,6]:
     print(index)
     print(countries[index])#we are accessing each element in the list
     #Second Loop: Use when you need both the index and the value or want to perform operations based on the position.

0
Croatia
1
USA
2
Argentina
3
France
4
Brazil
5
Japan
6
Vietnam

In [16]:
for country in countries :
     print(country)

Croatia
USA
Argentina
France
Brazil
Japan
Vietnam

In [17]:
#the no of indices in the two lists should be equal
countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio de Janeiro', 'Tokyo', 'Hanoi']
for index in [0,1,2,3,4,5,6]:
    #print(index)
    print(index, cities[index]+",", countries[index])

0 Zagreb, Croatia
1 District of Columbia, USA
2 Buenos Aires, Argentina
3 Paris, France
4 Rio de Janeiro, Brazil
5 Tokyo, Japan
6 Hanoi, Vietnam

In [18]:
len(countries)
len(cities)

7

In [19]:
#range :if you do not know the number of elements in a list yo use range
range(0, len(countries))

range(0, 7)

In [20]:
list(range(0, len(countries)))

[0, 1, 2, 3, 4, 5, 6]

In [21]:
for index in list(range(0, len(countries))):

      print(index, cities[index]+",", countries[index])

0 Zagreb, Croatia
1 District of Columbia, USA
2 Buenos Aires, Argentina
3 Paris, France
4 Rio de Janeiro, Brazil
5 Tokyo, Japan
6 Hanoi, Vietnam

In [22]:
countries.append('Mexico')
cities.append('Mexico City')
for index in list(range(0, len(countries))):

      print(index, cities[index]+",", countries[index])

0 Zagreb, Croatia
1 District of Columbia, USA
2 Buenos Aires, Argentina
3 Paris, France
4 Rio de Janeiro, Brazil
5 Tokyo, Japan
6 Hanoi, Vietnam
7 Mexico City, Mexico

In [51]:
#Iterating over dictionaries
details = {'first name':'Esther','age':28, 'favorite_language':'Python','last name':'Maina'}
for Wanjiru in details:#When you iterate over a dictionary, the loop variable (Wanjiru) gets the keys of the dictionary.
    print(Wanjiru)
    #the keys here are name.,AGE AND FAVORITE LANGUAGE

first name
age
favorite_language
last name

In [54]:
#If you want to access the values, you can use the key with details[Wanjiru].
for Wanjiru in details:
    print(Wanjiru, details[Wanjiru])
#Wanjiru acceses the keys of the dictionary, then details[Wanjiru] accesses the values

first name Esther
age 28
favorite_language Python
last name Maina

In [ ]:
#Alternatively you can use .items()
for key, value in details.items():
    print('This is the key:',  key)
    print('This is the value:',  value)

This is the key: first name
This is the value: Esther
This is the key: age
This is the value: 28
This is the key: favorite_language
This is the value: Python
This is the key: last name
This is the value: Maina

In [23]:
for idx, item in enumerate(['A', 'B', 'C']):
    print(idx, item)

0 A
1 B
2 C

In [24]:
different_elements = ['A String', ["a", 'list', "of", 5, ["elements"]], {'this': "is a dictionary"}]
for element in different_elements:
    print(element)

A String
['a', 'list', 'of', 5, ['elements']]
{'this': 'is a dictionary'}

In [62]:
#calling  out a dictionary
different_elements[2]['this']

'is a dictionary'

In [63]:
different_elements[0]

'A String'

In [25]:
example_dictionary = {'first_name': "Terrance", 'last_name': "KOAR", 'favorite_language': "Python"}
print(example_dictionary.values())
type(example_dictionary.values())

dict_values(['Terrance', 'KOAR', 'Python'])

dict_values

In [64]:
for keys,values in example_dictionary.items():
    print(keys,values,'\n')

first_name Terrance

last_name KOAR

favorite_language Python

In [26]:
# "\n") means the end puts an enter
#when retrieving two things in a dictionary just put both
for key, value in example_dictionary.items():
    print("this is the key:", key)
    print("this is the value:", value, "\n")

this is the key: first_name
this is the value: Terrance

this is the key: last_name
this is the value: KOAR

this is the key: favorite_language
this is the value: Python

In [67]:
first_name = ""
last_name = ""
for key, value in example_dictionary.items():
    if key == "last_name":
        last_name = value.casefold()
    if key == "first_name":
        first_name = value.title()
print(first_name, last_name)

Terrance koar

In [28]:
ice_cream_flavors = ['Mint Chocolate Chip', 'Coffee', 'Cookie Dough', 'Fudge Mint Brownie', 'Vanilla Bean']
for ice_cream_flavor in ice_cream_flavors:
    print('I love ' + ice_cream_flavor + ' ice cream!!')

I love Mint Chocolate Chip ice cream!!
I love Coffee ice cream!!
I love Cookie Dough ice cream!!
I love Fudge Mint Brownie ice cream!!
I love Vanilla Bean ice cream!!

In [29]:
bucket_list_countries= ['Portugal',' South Africa', 'Namimbia', 'Morocco', 'Jordan']
#for my_favorite_countries in bucket_list_countries:
for index in list(range(0,len(bucket_list_countries))):
      print(index, 'I am saving up to travel to' , bucket_list_countries[index])

0 I am saving up to travel to Portugal
1 I am saving up to travel to  South Africa
2 I am saving up to travel to Namimbia
3 I am saving up to travel to Morocco
4 I am saving up to travel to Jordan

In [30]:
fruits = ('bananas','fruits','oranges', 'quavas')
for index in list(range(0,len(fruits)) ):
    print(index, 'i love', fruits[index])

0 i love bananas
1 i love fruits
2 i love oranges
3 i love quavas

In [31]:
#WHILE LOOPS
#Assignvalue
#set condition
#print function.
number = 0
while number <5:
    print(number)
    number = number +1

0
1
2
3
4