In [ ]:
#datatypes
#booleans,strings,integers,floats
#string use the quotes
#booleans true or false == >,<
'Osam bin Laden'== 'Osam bin Sadam'

False

In [ ]:
#functions include
#.capitalize()
'esther'
'esther'.capitalize()

'Esther'

In [ ]:
#.tittle()
'binomial nomenclature'
'binomia nomenclature'.title()

'Binomia Nomenclature'

In [ ]:
#casefold
'binomial nomenclature'
'binomial nomenclature'.casefold()

'binomial nomenclature'

In [ ]:
#upper
'binomial nomenclature'.upper()

'BINOMIAL NOMENCLATURE'

In [ ]:
#centre
'binomial nomenclature'.centre()

AttributeError: 'str' object has no attribute 'centre'

In [ ]:
#ends with
'binomial nomenclature'.endswith('artificial')

False

In [ ]:
#variables.
#includes letters,digits,underscores for a two or more letter word.
#cannot start with a digit 0 work is invalid, weight0 is valid
#are case sensitive Weight is different from weight
#followed by =
Fruits = ['Oranges', 'apples', 'tomatoes']
type(Fruits)

list

In [ ]:
#concatenation is linking different strings.
#one cannot concantenate an interger and a string.thus one has to convert an interger to a string.
age=32
'I'+' am '+ str( age ) + 'years' + ' today '

'I am 32years today '

In [ ]:
age = 42
num_string= str(age)

In [ ]:
"I " + " live " + " at " + str(50) + " th street Durba n"

'I  live  at 50 th street Durba n'

In [ ]:
datatypes = None
#one must assign a data to variable..so if there is no data use none
#none represents nothing

In [ ]:
#sequence types
#this include dictionary,lists,tuples.
#tuples are immutable
#dictionary{} use the curly brackets.
#lists[] use the square set
#tuples() use this brackets
top_travel_cities = ['Walla Walla ','Marrakesh','Capetown','Lisbon']
bucket_list = top_travel_cities[1]
bucket_list

'Marrakesh'

In [ ]:
counties = ('Nairobi', 'Kakamega', 'Nyandarua','Kisumu')
type(counties)

tuple

In [ ]:
#tuples are immutable ,you can not pop or append
counties.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
#lists are malleable,unlike tuples
programming_languages = ['java','java script','python','ruby', 'C++']
programming_languages

['java', 'java script', 'python', 'ruby', 'C++']

In [ ]:
current = programming_languages[2]
current

'python'

In [ ]:
#when accessing elements in lists we usually use indices.
#The first element  called by index 0 and subsequent element with the others.
#python in this case is index 2
#slicing of list
programming_languages[0:3]

['java', 'java script', 'python']

In [ ]:
#dictionaries  usually have a key and a value
field_of_biology ={'Biochemistry':1,'molecular biology':2, 'Microbiology':3}
field_of_biology

{'Biochemistry': 1, 'molecular biology': 2, 'Microbiology': 3}

In [ ]:
my_bucket_list_travel_countries= {'Portugal':'lisbon', 'South Africa':'Capetown','Morocco':'Marakkesh', 'Malaysia':'Kuala Lumpur','Jordan':'Petra'}
my_bucket_list_travel_countries

{'Portugal': 'lisbon',
 'South Africa': 'Capetown',
 'Morocco': 'Marakkesh',
 'Malaysia': 'Kuala Lumpur',
 'Jordan': 'Petra'}

In [ ]:
no_1 = my_bucket_list_travel_countries['Jordan']
no_1

'Petra'