In [ ]:
#When we want to state various attributes of an element in a  list we use a dictionary.
#Dictionary is a group of keys and value pairs
#The attributes are called keys.
terrance = { 'Age' :25, 'favorite food':'Omena', 'Favorite book':'A thousand Splendid Suns'}

In [ ]:
type(terrance)

dict

In [ ]:
#accessing the information is always done by calling the associated key.
#use the square brackes
terrance['Age']

25

In [ ]:
friends = {'name':'friends', 'genre':'sitcom', 'no_of_seasons':10}
friends['no_of_seasons']

10

In [ ]:
#adding a key value to the existing dictionary.
no_of_episodes = 236
friends['no_of_episodes'] = 236
friends

{'name': 'friends',
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'no_of_episodes': 236}

In [ ]:
name_of_actor ='mathew perry'
friends['name of actor']='mathew perry'
friends

{'name': 'friends',
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'no_of_episodes': 236,
 'name of actor': 'mathew perry'}

In [ ]:
#do keys have to be strings? YES
friends[14]= 'some value'
friends

{'name': 'friends',
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'no_of_episodes': 236,
 'name of actor': 'mathew perry',
 14: 'some value'}

In [ ]:
#the above code doesnt make sense so lets delete the key 14
# use del then followed by dictionary []
del friends[14]

In [ ]:
friends

{'name': 'friends',
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'no_of_episodes': 236,
 'name of actor': 'mathew perry'}

In [ ]:
terrance = {'Age':25, 'favorite food':'Omena', 'Favorite book':'A thousand Splendid Suns'}
terrance['Age']

25

In [ ]:
terrance['favorite food']

'Omena'

In [ ]:
terrance['hobby']='skiing'
terrance

{'Age': 25,
 'favorite food': 'Omena',
 'Favorite book': 'A thousand Splendid Suns',
 'hobby': 'skiing'}

In [ ]:
terrance['pets']= ['cats', 'dogs']
terrance

{'Age': 25,
 'favorite food': 'Omena',
 'Favorite book': 'A thousand Splendid Suns',
 'hobby': 'skiing',
 'pets': ['cats', 'dogs']}

In [ ]:
terrance['pets'][1]

'dogs'

In [ ]:
terrance['children']= ['Christine', 'Maurice', 'Judy', 'Esther']
terrance

{'Age': 25,
 'favorite food': 'Omena',
 'Favorite book': 'A thousand Splendid Suns',
 'hobby': 'skiing',
 'pets': ['cats', 'dogs'],
 'children': ['Christine', 'Maurice', 'Judy', 'Esther']}

In [ ]:
terrance['children'][3]

'Esther'

In [ ]:
type(terrance['pets'])

list

In [ ]:
greenville = {'area':68, 'City':'Greenville', 'Country':'USA', 'Population':84554 }
greenville['Population']

84554

In [ ]:
greenville_population = greenville['Population']
greenville_population

84554

In [ ]:
greenville_area = greenville['area']
greenville_area

68

In [ ]:
city_keys = ['area', 'City', 'Greenville', 'Country','Population']
city_keys

['area', 'City', 'Greenville', 'Country', 'Population']

In [ ]:
type(city_keys)

list

In [ ]:
#Pandas are python software that are used in data analysis and manupilation in Python
import pandas as pd
#file_name= '.cities.xlsx'
#travel_df=pd.read_excel(file_name)
#cities=travel_df.to_dict('records')

In [ ]:
#importing from local
import csv
!ls

drive  sample_data

# New Section

In [ ]:
#IMPORTING FROM CLOUD!
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
#PATH https://drive.google.com/drive/home

In [ ]:
#Save @ content in the google colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df =  pd.read_csv("/content/drive/MyDrive/TRAVEL _CITIES.csv")
travel_cities= df.dropna()
travel_cities

                  City      Country  Population       Area
0                Solta      Croatia      1700.0       59.0
1           Greenville          USA     84554.0       68.0
2         Buenos Aires    Argentina  13591863.0     4758.0
3            Los Cabos       Mexico    287651.0     3750.0
4   Walla Walla Valley          USA     32237.0       33.0
5             Marakesh      Morocco    928850.0      200.0
6          Albuquerque   New Mexico    559277.0      491.0
7      Archipelago Sea      Finland     60000.0     8300.0
8         Iguazu Falls    Argentina         0.0      672.0
9        Salina Island        Italy      4000.0       27.0
10             Toronto       Canada       630.0  2731571.0
11         Pyeongchang  South Korea   2581000.0     3194.0

In [ ]:
#PATH FO TRAVEL_ CITIES ; /content/drive/MyDrive/TRAVEL _CITIES.csv

In [ ]:
cities

NameError: name 'cities' is not defined

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#use functions (records)cities_dict = cities.to_dict('records')
cities_dict

In [ ]:
salina =cities_dict[-3]
salina

In [ ]:
los_cabos_pop = cities_dict[3]['Population']
los_cabos_pop

In [ ]:
city_count = len(cities_dict)
city_count

In [ ]:
cities_dict[11]['City']= 'PyeongChang'
cities_dict

NameError: name 'cities_dict' is not defined

In [ ]:
#Assigning a name and retreiving values from a dictionary .Use .values()
pyeongchang_values = cities_dict[-1].values()
pyeongchang_values

In [ ]:
type(pyeongchang_values)

In [ ]:
pyeongchang_keys = cities_dict[-1].keys()
pyeongchang_keys

In [ ]:
type(pyeongchang_keys)

NameError: name 'pyeongchang_keys' is not defined

In [ ]:
age = 32
type(age)

int